@tailwind base;
@tailwind components;
@tailwind utilities;

div:has(input[required], textarea[required], select[required]) > label::after,
label:has(input[required], textarea[required], select[required])::after {
    content: "*"
}
